.images {
    display: flex;
    width: 50%;
    margin: auto;
    object-fit: contain;
    justify-content: center;
}
.image-section{
    height: 30%;
}

@media screen and (max-width: 360px) {
    .curosole{
        width: 500;
    }
    
}