.wavefoot {
  height: 200px;
}
.credits{
  display: flex;
  justify-content: end;
  font-size: small;
  margin-top:40px;
}
ul > li{
  font-weight: 500 !important;
}

@media only screen and (max-width: 768px) {
  .wavefoot {
    height: 90px;
  }
  .toplogo {
    font-size: 8px;
    font-weight: 600;
    animation: ball 1.5s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0.3s;
    cursor: pointer;
  }
}
.svgWave {
  width: 100%;
}
.toplogo {
  font-size: 5px;
  font-weight: 600;
  animation: ball 1.5s ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 0.3s;
  cursor: pointer;
}

.wave {
  animation: wave 3s linear;
  animation-iteration-count: infinite;
  fill: #ffffff;
}
.drop {
  fill: transparent;
  animation: drop 5s ease infinite normal;
  stroke: #ffffff;
  stroke-width: 0.5;
  opacity: 0.6;
  transform: translateY(80%);
}
.drop1 {
  transform-origin: 20px 3px;
}
.drop2 {
  animation-delay: 3s;
  animation-duration: 3s;
  transform-origin: 25px 3px;
}
.drop3 {
  animation-delay: -2s;
  animation-duration: 3.4s;
  transform-origin: 16px 3px;
}
.gooeff {
  filter: url(#goo);
}
#wave2 {
  animation-duration: 5s;
  animation-direction: reverse;
  opacity: 0.6;
}
#wave3 {
  animation-duration: 7s;
  opacity: 0.3;
}
.line{
  padding: 0%;
  margin: 0% auto;
  width: 70%;
}

@keyframes drop {
  0% {
    transform: translateY(80%);
    opacity: 0.6;
  }
  80% {
    transform: translateY(80%);
    opacity: 0.6;
  }
  90% {
    transform: translateY(10%);
    opacity: 0.6;
  }
  100% {
    transform: translateY(0%) scale(1.5);
    stroke-width: 0.2;
    opacity: 0;
  }
}
@keyframes wave {
  to {
    transform: translateX(-100%);
  }
}
@keyframes ball {
  to {
    transform: translateY(20%);
  }
}
