.main-nav{
    font-size: large;
    font-weight: 600;
    height: 80px;
    color: white;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    animation: slide 0.3s;
    box-shadow: 0 20px 30px rgba(rgb(255, 255, 255), 0.2);
    background:#1c1c1e;
    z-index: 100;
}
@keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
.cyberLogo{
    width: 80px;
    padding: 5px;
}
.dropbtn {
    font-weight: 600;
    color: white;
    border: none;
    cursor: pointer;
    background-color: transparent;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    background-color: transparent;
   
    /* backdrop-filter: blur(6px); */
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background: #1c1c1e;
    min-width: 250px;
    z-index: 100;
    width: 100%;
    border-radius: 10px;
  }
  
  .dropdown-content a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 10px;
  }
  
  .dropdown-content a:hover {
    background-color: #34343b;
    padding: 10px;
}
  
  .dropdown:hover .dropdown-content {
    display: block;
    
  }
  
  .dropdown:hover .dropbtn {
    background-color: none;
  }
  .menu{
    display: flex;
    justify-content: space-between;
    z-index: 100;
  }
  .navbar-item{
    margin:0px 30px;
  }
  .nav-toggle{
    margin: 0px 20px;
    display:none;
  }
  @media screen and (max-width : 768px) {
    .nav-toggle{
        display: block;
        z-index: 100;
      }
      .menu{
        position: absolute;
        top: 0px;
        right: 0;
        height: 100vh;
        width: 80vw;
        flex-direction: column;
        justify-content: space-evenly;
        transform: translateX(100%);
        transition: 0.5s ease-in;
        z-index: 100;

        backdrop-filter: blur(6px);
        
      }
      .dropdown-content {
        margin-top: 10px;
        display: none;
        position: absolute;
        background-color: none;
        min-width: 250px;
        z-index: 1;
        width: 100%;
        backdrop-filter: blur(10px);
        padding: 10px;
        border-radius: 10px;
      }
      .drop-item{
        padding:10px;

      }
  }
  .active {
    transform: translateX(0%);
  }